.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;

  &-items {
    display: flex;
    gap: 20px;
    &-item {
      text-decoration: none;
      color: #2c3e50;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-logo {
    display: flex;
    align-items: center;

    &-image {
      max-width: 100%;
      width: 200px;
    }
  }
}

@media (max-width: 720px) {
  .main-nav {
    padding: 5px 5px;

    &-items {
      gap: 14px;
      &-item {
        font-size: 0.95rem;
      }
    }

    &-logo {
      &-image {
        max-width: 160px;
      }
    }
  }
}
